# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.dev.vars
.wrangler

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flutter
flutter/.dart_tool/
flutter/.idea/
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/ios/Pods/
flutter/ios/.symlinks/
flutter/ios/Flutter/Flutter.framework
flutter/ios/Flutter/Flutter.podspec
flutter/android/.gradle/
flutter/android/local.properties
flutter/.env
flutter/pubspec.lock
